/*-- scss:defaults --*/

// Base document colors
$body-bg: #1a1a1a;
$body-color: #e0e1e2;
$link-color: #4bbf73;
$headings-color: #e0e1e2;

// Navbar
//$navbar-bg: #f766ad;

// Code blocks
$code-block-bg-alpha: -.9;

// Code
$pre-color: #e0e1e2;

$input-bg: #343a40;
$input-group-addon-bg: #1a1a1a;